[Unit]
Description=RProxy Client Service
After=network.target

[Service]
Type=simple
User=nobody
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/rproxyc -c /etc/rproxy/rproxyc.ini
ExecReload=/usr/bin/rproxyc reload -c /etc/rproxy/rproxyc.ini

[Install]
WantedBy=multi-user.target
